<%- include('../_header1.ejs') -%>

<title><%= title %> | magiskepiksler.com</title>

<%- include('../_header2.ejs') -%>



<h1><%= title %></h1>

<p class="article__date"><%= date.toISOString().substr(0, 10) %></p>

<%- body %> 

<%- include('../_footer.ejs') -%>