<%- include('../_header.ejs') -%>



<h1><%= title %></h1>

<p class="article__date"><%= date.toISOString().substr(0, 10) %></p>

<%- body %> 

<%- include('../_footer.ejs') -%>

<script type="text/javascript">
    document.title = "<%= title %>";
</script>
