<%- include('../_header1.ejs') -%>

<title><%= title %> | magiskepiksler.com</title>

</head>

<body class="page--ellers">

<%- include('../_header2.ejs') -%>


<h1 class="ellers__title"><%= title %></h1>
<p class="ellers__link" ><a href="<%= url %>" target="_blank" rel="noopener"><%= url %></a></p>

<p class="ellers__date"><%= date.toISOString().substr(0, 10) %></p>

<%- body %> 

<%- include('../_footer.ejs') -%>
