<%- include('_header.ejs') -%>




<section class="articlelist">

    <h1 class="articlelist__header">Siste innlegg</h1>

    <% for (const name of Object.keys(innlegg).reverse()) { const {date, title,
    body} = innlegg[name]; -%>
    <article class="articlelist__article">
        <p class="articlelist__date"><%= date.toISOString().substr(0, 10) %></p>
        <p class="articlelist__title">
            <a href="innlegg/<%= name %>.html" class="articlelist__link">
                <%= title %>
            </a>
        </p>
    </article>
    <% } -%>
</section>

<%- include('_footer.ejs') -%>
