<%- include('_header.ejs') -%>




<section class="articlelist">

    <h1 class="articlelist__header">Siste innlegg</h1>

    <p class="articlelist__description">Egenprodusert innhold om utvikling og design av nettsider på verdensveven.</p>

    <% for (const [name, {date, title}] of Object.entries(innlegg).sort((a, b) => b[1].date - a[1].date)) { %>
    <article class="articlelist__article">
        <p class="articlelist__date"><%= date.toISOString().substr(0, 10) %></p>
        <p class="articlelist__title">
            <a href="/innlegg/<%= name %>.html" class="articlelist__link">
                <%= title %>
            </a>
        </p>
    </article>
    <% } -%>
</section>

<%- include('_footer.ejs') -%>


